@import url("./vars.css");

html,
body {
  margin: auto;
}

body > pre,
body > code {
  background: var(--peersky-background-color);
  color: var(--peersky-text-color);
  margin: 0px;
  padding: 12px;
  min-height: calc(100vh - 24px) !important;
}