body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: monospace;
  position: relative; /* Ensure that body can contain absolutely positioned elements */
}

.home-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 275px;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}

.frosted-glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.home-content {
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.home-heading {
  font-size: 35px;
}

.home-link {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.home-link a {
  color: var(--button-hover-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-link a:hover {
  color: #cccccc;
}

.peerbar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 3;
}

.peerbar a {
  display: block;
}

.peerbar img {
  width: 25px;
  height: 25px;
  filter: invert(62%) sepia(83%) saturate(447%) hue-rotate(142deg) brightness(93%) contrast(94%);
  padding: 5px;
  transition: transform 0.3s ease;
}

.peerbar img:hover {
  transform: scale(1.1);
}
