:root {
  --peersky-background-color: #000000;
  --peersky-p2p-background-color: #18181b;
  --peersky-text-color: #ffffff;
  --background-nav: #27272a;
  --background-url-input: #171717;
  --background-find-menu: #323440;
  --button-color: #9ca3af;
  --button-hover-color: #e5e7eb;
  --button-active-color: #ffffff;
  --button-inactive-color: #6b7280;
  --peersky-primary-color: #06b6d4;
  --font-family-main: Arial, sans-serif;
}
