body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
  position: relative;
  overflow-y: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.home-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.peerbar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.peerbar a {
  display: block;
}

.peerbar img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  padding: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.peerbar img:hover {
  transform: scale(1.1);
}
